/nbproject/private

# Mac
.DS_Store

# Node
npm-debug.log
/node_modules

# Cordova
/platforms
/plugins

# res
resources/signing
/applications/mobilebugget-phonegap/www/assets/css/app.min.css
/applications/mobilebugget-phonegap/www/assets/js/app.min.js
